{% extends "_layout.html" %}
{% block main %}
<table>
    <thead>
        <tr>
            <th>subject</th>
            <th>predicate</th>
            <th>object</th>
        </tr>
    </thead>
    <tbody>
        {% for subject, predicate, object in document_graph %}
        {% if subject != document_uri %}
        <tr id="{{ subject }}">
            <td>{{ subject }}</td>
            <td>{{ predicate }}</td>
            <td property="{{ predicate }}">{{ object }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}