<!DOCTYPE html>
<html lang="en">
<head>
    {% if graph %}
    {% for predicate, object in graph.predicate_objects(subject=graph.identifier, unique=True) %}
    <meta property="{{ predicate }}" content="{{ object }}" />
    {% endfor %}
    {% endif %}
    <title>RDF Document Proxy</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-chtml.min.js"
        integrity="sha512-T8xxpazDtODy3WOP/c6hvQI2O9UPdARlDWE0CvH1Cfqc0TXZF6GZcEKL7tIR8VbfS/7s/J6C+VOqrD6hIo++vQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header>
        <h1>Example</h1>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>© {{ year }}</p>
    </footer>
</body>
</html>